@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  --primary-color: #1B98E0;
  --secondary-color: #59c3c3;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Poppins", sans-serif;
}


body {
  font-family: var(--primary-font);
  color: var(--text-dark);
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1{  font-family: var(--secondary-font);
  color: var(--text-dark);}

 h2, h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


header {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 10px 0;
  text-align: center;
}


.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: 1px solid var(--text-dark);
  border-radius: 5px;
}

.search-bar button {
  background-color: var(--secondary-color);
  border: none;
  padding: 10px;
  cursor: pointer;
}


.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  border: 1px solid #333;
  margin: 10px;
}

.recipe .tags {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.recipe .tags span {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.rating {
  font-size: 20px;
  color: gold;
}


footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 10px 0;
  font-size: 0.8em;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}

.icon {
  padding: 5px;
  width: 35px;
}
 .logo
 {
  padding: 5px;
  width: 100px;
}
.credit
{
  font-size: 0.6em;
}
article{
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  grid-template-rows:  repeat(1, 1fr);
}

@media (min-width: 600px) {
  .recipe {
      flex-direction: row;
      text-align: left;
      align-items: flex-start;
  }
  
  .recipe img {
      width: 40%;
      margin-right: 20px;
  }
}

@media (min-width: 960px) {
  .container {
      max-width: 960px;
  }
}