body {
    text-align: center;
    font-family: "Times New Roman";
    font-size: 20px;
    line-height:1.5;

    width: 600px;
    border: 1px solid lightgray;
    margin: 20px;
    padding-top: 50px;
    padding-right:  200px;
    padding-bottom: 50px;
    padding-left:  200px;

  }


nav {
    background-color: steelblue;
    padding: 10px;
  }
a {
    color: white;
    margin: 40px;
  }
h1 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  h2 {
    color: #006EB6;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;

    border-bottom: 1px solid lightgray;

  }
  img {
    width: 150px;
  }
  p
   {
    padding: 10px;
    text-align: left;
  }

  ol 
  {
    text-align: left;
  }
  footer {
    color: white;
  }





  /*/ DARK MODE /*/
 
  .dark {
    background-color: #333;
    color: white;

  }

  .dark h1 {
    color: rgb(255, 255, 255);
  }
  .dark h2 {
    color: #A0D4ED;
     }


/*/


Define a rule in the CSS with the 
.dark selector to make all the changes 
necessary to convert our design to the dark theme.

After getting the dark theme done remove the dark class 
from the body element.

4.Create a JS file called mission.js and add a script 
element to our HTML file to link them together.

With JavaScript select the select element out of the DOM.

6.Add an event listener to the selected element. 
We should listen for a change event.

Create a function called changeTheme 
that will get called by the event listener 
when the select option is changed.
o.

   