body {
    text-align: center;
    font-family: "Times New Roman";
    font-size: 20px;
  }
nav {
    background-color: steelblue;
    padding: 10px;
  }
a {
    color: white;
    margin: 40px;
  }
h1 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  h2 {
    color: #006EB6;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  img {
    width: 150px;
  }
  p
   {
    padding: 10px;
    text-align: left;
  }

  ol 
  {
    text-align: left;
  }
  footer {
    color: white;
  }

  /*/
 


   The content inside the box has been limited to a maximum width of 600px.


   Remember that margin adds space between elements, while padding 
   adds space inside of an element. You will need to use both to match 
   the design.


   To get the titles to look just right you will need to use the 
   letter-spacing property to space the letters out a bit more than
   they would normally be. You can also use text-transform to make sure 
   they are always all caps.

   To get yours to match the image you will also need to increase
    the line-height. (A value of 1.5 is usually nice)


   